<%- include("../layout/head") %>

<link rel="stylesheet" href="css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./font/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">
  <%- include("../layout/nav") %>
  <body>
    <br>
    <div class="aboutus-section">
            <div class="container" style="margin-top: 96px;">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <h2 class="aboutus-title">Về Chúng Tôi</h2>
                            <p class="aboutus-text">Chúng tôi hiểu cảm giác của người đi thuê xe máy phải bỏ ra một số tiền để có được một chiếc xe đủ tốt, không gặp rắc rối khi đi trên đường.</p>
                            <p class="aboutus-text">Tuy nhiên thật khó để tìm được một đơn vị cung cấp dịch vụ cho thuê xe uy tín, chất lượng hiện nay.</p>
                            <p class="aboutus-text">TBE - tiên phong trở thành đơn vị số 1 về cung cấp dịch vụ thuê xe máy tự lái tại Việt Nam.</p>
                            <p class="aboutus-text">Toàn bộ xe máy cho thuê của chúng tôi là xe được mua mới 100%, được đăng ký chính chủ. Ngoài ra, các xe sau khi kết thúc hợp đồng với khách sẽ được kiểm tra, bảo dưỡng, thay thế các bộ phận hỏng hóc và phải đạt chuẩn an toàn xe trước khi giao cho khách hàng mới.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus-banner">
                            <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="feature">
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Không tiền đặt cọc</h4>
                                        <p>Khách hàng không phải đặt cọc bất cứ khoản tiền cho việc thuê xe máy nào nếu có đầy đủ
                                            các giấy tờ yêu cầu được quy định trong chính sách của cty. Chi tiết thủ tục giấy tờ vui
                                            lòng xem tại mục chính sách thuê xe của chúng tôi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>1 NGÀY THUÊ = 24H</h4>
                                        <p>Không giống như các đơn vị cho thuê xe khác, ngày thuê xe được tính từ sáng đến chiều, vậy với cùng khoảng thời gian thuê xe 24h bạn luôn phải trả nhiều tiền hơn so với việc thuê xe của TDE. Cách tính 1 ngày thuê xe = 24h của chúng tôi cực kỳ có lợi cho người thuê xe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>DỊCH VỤ GIAO, TRẢ XE TẬN NƠI</h4>
                                        <p>Chúng tôi cung cấp dich vụ giao xe tận nơi cho bạn với một khoản phí phát sinh thấp. Chi phí giao xe sẽ được tính toán theo địa điểm giao nhận xe của khách và phí mỗi lần không vượt quá 40k.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>ĐI BAO NHIÊU THANH TOÁN BẤY NHIÊU</h4>
                                        <p>Từ ngày thuê xe thứ 2 trở đi cách tính giá thuê xe theo giờ sẽ được áp dụng, với mỗi giờ phát sinh của xe số chúng tôi sẽ thu thêm 10k, xe tay ga là 20k. Thuê xe quá 9 tiếng sẽ được tính tròn 1 ngày thuê xe. Trả xe sớm TDE sẽ hoàn tiền thừa lại cho bạn.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../layout/footer") %> 
    </body>


