<%- include("../layout/head") %>
<link rel="stylesheet" href="css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./font/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">
  <%- include("../layout/nav") %>
<main id="page-content" class="page-content">
    <div class="about-us">
    <div class="about-us-cover">
        <div class="overlay-color"></div>
        <div class="container">
            <h1 class="page-title">
                Chính sách bảo mật thông tin cá nhân			</h1>
            <p id="breadcrumbs"><span><span><a href="/home">Trang chủ</a> » <strong class="breadcrumb_last" aria-current="page">Chính sách bảo mật thông tin cá nhâns</strong></span></span></p>					
        </div>
    </div>
</div>
</main>
<%- include("../layout/footer") %>
