<%- include("../layout/head") %>
<link rel="stylesheet" href="css/body.css">
  <%- include("../layout/nav") %>
<main id="page-content" class="page-content">
    <div class="about-us">
    <div class="about-us-cover">
        <div class="overlay-color"></div>
        <div class="container">
            <h1 class="page-title">
                Chính sách bảo mật thông tin cá nhân			</h1>
            <p id="breadcrumbs"><span><span><a href="/home">Trang chủ</a> » <strong class="breadcrumb_last" aria-current="page">Chính sách bảo mật thông tin cá nhâns</strong></span></span></p>					
        </div>
    </div>
</div>
</main>
<%- include("../layout/footer") %>
