<style>
  .content{
    margin-top: 96px;
  }
</style>
<%- include("../layout/head") %>
<link rel="stylesheet" href="css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./font/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">
<%- include("../layout/nav") %>
<body>
  <div style="margin-top: 96px;">
    <marquee style="position: fixed; top: 0; right: 0; left: 0; z-index: 100; "><mark >Bảng giá dưới đây là bảng giá cho thuê ngắn ngày, để lấy giá cho thuê dài ngày vui lòng gọi trực tiếp đến hotline: 0123456789 để được tư vấn miễn phí</mark></marquee>
    <%- include("./list_products") %>
    
            <!-- pagination -->
    </div>
  </div>
</body>
<%- include("../layout/footer") %>



