
<style>

.new_footer_area {
    clear: both;
    background: #1e1e1e;
}


.page-footer {
    background: #1e1e1e;
    padding: 50px 0;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.page-footer .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.page-footer .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.page-footer .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.page-footer .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.page-footer .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.f_social_icon a img {
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ebef1a;
    border-color: #ebef1a;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #ebef1a;
}

.page-footer .f_social_icon a:hover {
    background: #ebef1a;
    border-color: #ebef1a;
  color:white;
}
.page-footer .f_social_icon a + a {
    margin-left: 4px;
}
.page-footer .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.page-footer .f_widget.about-widget .f_list li a {
    color: #6a7695;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/


</style>
<footer class="page-footer" id="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="widget widget-footer">
					<p class="widget-title">
						Liên hệ					</p>
					<div class="widget-content">
						<p>
						TDE là dịch vụ cho thuê xe máy tự lái chuyên nghiệp tại Việt Nam.</p>
						<p>
							<i class="fa fa-phone" aria-hidden="true"></i>
							Tổng đài (24/24H): <a href="tel:0397135609">0397 135 609</a>
						</p>
						<p>
							<i class="fa fa-phone" aria-hidden="true"></i>
							English speaking: <a href="tel:0388064913">0388 064 913</a>
						</p>
						<p>
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<a href="mailto:phanvanhieu2001.yt@gmail.com">
								contact.TDE@gmail.com
							</a>
							<p>
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								Thứ Hai - Chủ Nhật: 8:00 - 21:00							</p>
						</p>
						
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget widget-footer">
					<p class="widget-title">
						Về TDE					</p>
					<div class="widget-content">
						<p><i class="fa fa-angle-down" aria-hidden="true"></i>
							<a href="/about">Giới thiệu, đội ngũ TDE</a> 
						</p>
						<p><i class="fa fa-angle-down" aria-hidden="true"></i>
							<a href="/chinhsach">Chính sách & Thủ tục thuê xe</a>
						</p>
						<p><i class="fa fa-angle-down" aria-hidden="true"></i>
							<a href="/baomat">Chính sách bảo mật thông tin cá nhân</a>
						</p>
						
						<p><i class="fa fa-angle-down" aria-hidden="true"></i>
							<a href="/question">FAQs</a> 
						</p>
						<p><i class="fa fa-angle-down" aria-hidden="true"></i>
							<a href="/contact">Liên hệ, hợp tác</a> 
						</p>
						<p><i class="fa fa-angle-down" aria-hidden="true"></i>
							<a href="https://danangaz.com/luu-tru-da-nang/resort-gan-bien-o-da-nang/ " target="_blank">Chỗ ở</a> | <a href="https://www.gotadi.com/tour/dia-diem-check-in-da-nang-chup-anh-song-ao-dep/" target="_blank">Địa điểm sống ảo</a> | <a href="https://www.gotadi.com/tour/quan-cafe-check-in-dep-o-da-nang/ " target="_blank">Cafe</a> | <a href="https://vinpearl.com/vi/cap-nhat-ngay-nhung-diem-cam-trai-da-nang-cuc-hot-cuc-chill " target="_blank">Picnic</a>
						</p>
						<p class="widget-title gray-color">
								Chủ đề nội dung website						</p>
						<p>
							<a href="/product">Thuê xe máy</a> |
							<a href="/homestay">Homestay</a> |
							<a href="/resort">Resort nghỉ dưỡng</a> |
							<a href="/phuot">Phượt</a> |
							<a href="/dulich">Du lịch</a> |
						</p>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="widget widget-footer">
						<p class="widget-title">Địa điểm</p>
						<div class="widget-content">
							<p class="widget-title gray-color">
								<a>Thuê xe máy Đà Nẵng</a> 							</p>
							<p>
								<i class="fa fa-home" aria-hidden="true"></i>
								<a href="https://goo.gl/maps/8pwBg14YEPGGXuY48">217 Nguyễn Văn Linh, Thanh Khê, Hải Châu, Đà Nẵng, Vietnam</a>
							</p>
							<p>
								<i class="fa fa-home" aria-hidden="true"></i>
								<a href="https://goo.gl/maps/mAhNhAoWaQm9H3E2A">5 An Thượng 29, Mỹ An, Ngũ Hành Sơn, Đà Nẵng, Vietnam</a>
							</p>
                            <p>
								<i class="fa fa-home" aria-hidden="true"></i>
								<a href="https://goo.gl/maps/tkkWJ9RxpZeqisPG9">34 Nam Trân, Hòa Minh, Liên Chiểu, Đà Nẵng, Vietnam</a>
							</p>
                            <p>
								<i class="fa fa-home" aria-hidden="true"></i>
								<a href="https://goo.gl/maps/oiK2ybREZL2BHCqf7">34 Trần Văn Giáp, Hòa Cường Bắc, Hải Châu, Đà Nẵng, Vietnam</a>
							</p>
							<p class="widget-title gray-color">
								<a>Thuê xe máy TP.Hội An</a>							</p>
							<p>
								<i class="fa fa-home" aria-hidden="true"></i>
								<a href="https://goo.gl/maps/uNWXYBtTHHXDgUfM6">153 Lý Thường Kiệt, Sơn Phong, Hội An, Quảng Nam, Vietnam</a>
							</p>
							<p class="widget-title gray-color">
								<a>Thuê xe máy TP.Tam Kỳ</a>							</p>
							<p>
								<i class="fa fa-home" aria-hidden="true"></i>
								<a href="https://goo.gl/maps/7XDVdFqmh8HwWSLAA">245 Hùng Vương, An Mỹ, Tam Kỳ, Quảng Nam, Vietnam</a>
							</p>
							
						</div>
					</div>
				</div>
			</div>
					</div>
		<div class="copyright">
			<div class="container">
				<p align="center" style="font-size: 10px;">
					&copy 2022 - Bản quyền thuộc về Công ty TNHH 6 thành viên TDE VIỆT NAM - 71 Ngũ Hành Sơn, Mỹ An, Ngũ Hành Sơn, Đà Nẵng, Việt Nam. GPDKKD: 012345678 do sở KH & ĐT TP Đà Nẵng cấp ngày 06/03/2022.
				</p>
			</div>
		</div>
	</footer>





<!-- <footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="widget-title">Liên Hệ</h3>
                        
                        <div class="widget-content">
                            <p>Mọi thắc mắc vui lòng liên hệ với chúng tôi <a href="http://infohieu.tk/">tại đây</a> hoặc:</p>
                            <p><i class="fa-solid fa-phone"></i>Tổng đài (24/24H): <a>0123 456 789</a></p>
                            <p><i class="fa-solid fa-envelope"></i><a>TDE.contact@gmail.com</a></p>
                            <p><i class="fa-solid fa-clock"></i>Thứ Hai - Chủ Nhật: 8:00 - 21:00</p>
                            <ul class="social-link">
                                <li>
                                        <i class="fa-brands fa-facebook-square facebook"></i>
                                </li>
                                <li><i class="fa-brands fa-instagram instagram"></i></li>
                                <li><i class="fa-brands fa-linkedin-in linkedin"></i></li>
                                <li><i class="fa-brands fa-twitter twitter"></i></li>
                                <li><i class="fa-brands fa-pinterest pinterest"></i></li>
                                <li><i class="fa-brands fa-youtube youtube"></i></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="widget-title">Chi nhánh</h3>
                            
                        <ul class="list-unstyled f_list">
                            <li><a href="https://goo.gl/maps/8pwBg14YEPGGXuY48">217 Nguyễn Văn Linh-Đà Nẵng</a></li>
                            <li><a href="https://goo.gl/maps/gdojmrNdgc1MEj1i9">An Thượng 12</a></li>
                            <li><a href="https://goo.gl/maps/TsdaJh3oANTtZfCt5">Tam Kỳ-Quảng Nam</a></li>
                            <li><a href="https://goo.gl/maps/6WkMVCTn37MEZm2j8">Hội An-Quảng Nam</a></li>
                            <li><a href="https://goo.gl/maps/JRcttiTT4QB6ATfW7">Bến Xe Trung Tâm</a></li>
                            <li><a href="https://goo.gl/maps/E7siMM4WZyo5oCJP9">Hầm hải Vân</a></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="widget-title">Về TDE</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="/home">TDE là công ty cho thuê xe máy uy tín số 1 việt nam</a></li>
                            <li><a href="/chinhsach">Chính sách & Thủ tục thuê xe</a></li>
                            <li><a href="/baomat">Chính sách bảo mật thông tin cá nhân</a></li>
                            <li><a href="/question">FAQs</a></li>
                            <li><a href="http://infohieu.tk/">Liên hệ, hợp tác</a></li>
                            <li a class="widget-text"><a>Chủ đề nội dung website</a></li>
                            <li><a href="/product">Thuê xe máy</a>
                                |
                                <a href="/homestay">Homestay</a>
                                |
                                <a href="/resort">Resort nghỉ dưỡng</a>
                                |
                                <a href="/phuot">Phượt</a>
                                |
                                <a href="/dulich">Du lịch</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="widget-title">Thành viên hợp tác</h3>
                        <div class="f_social_icon">
                            <a href="https://www.facebook.com/hieu.phanvan.9699">
                                <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-1/256353696_646451176730643_9192431023491584770_n.jpg?stp=dst-jpg_s320x320&_nc_cat=103&ccb=1-6&_nc_sid=7206a8&_nc_ohc=0KhClRh6_zUAX9JdsBR&_nc_ht=scontent.fdad3-1.fna&oh=00_AT9zofG1zPnIellVQApLOqLaAX2brm4ReMS1XFaGqqMsug&oe=6279CD07" alt="">
                            </a>
                            <a href="https://www.facebook.com/hongty0809" >
                                <img src="https://dvdn247.net/wp-content/uploads/2020/07/avatar-mac-dinh-1.png" alt="">
                            </a>
                            <a href="https://www.facebook.com/nguyenquoc.hoan.1848" >
                                <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-6/275142958_518735843193198_1792020393371868984_n.jpg?_nc_cat=103&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=NFkPenDmF3MAX8TqIn0&_nc_ht=scontent.fdad3-1.fna&oh=00_AT9StqAtXMUP6fiZUS8cnawaqBkzyBAjvQYP7ej1_z-ekw&oe=627952CD" alt="">
                            </a>
                            
                            <a href="https://www.facebook.com/toofsmile23okok" >
                                <img src="https://scontent.fdad3-5.fna.fbcdn.net/v/t39.30808-6/240520617_1159320347896368_479707058806404741_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=8i3_ePslg4AAX8Azvru&_nc_ht=scontent.fdad3-5.fna&oh=00_AT9OjcFKvHduA1vALCipCNkg03ZrJJbVVS8EAVpoAK69yQ&oe=62787F80" alt="">
                            </a>
                            <a href="https://www.facebook.com/thuhongpinkco" >
                                <img src="https://dvdn247.net/wp-content/uploads/2020/07/avatar-mac-dinh-1.png" alt="">
                            </a>
                            <a href="https://www.facebook.com/zinumagic.158" >
                                <img src="https://dvdn247.net/wp-content/uploads/2020/07/avatar-mac-dinh-1.png" alt="">
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-7">
                            <p class="mb-0 f_400">© Bản quyền thuộc về TDE</p>
                        </div>
                        <div class="col-lg-6 col-sm-5 text-right">
                            <p>Made with <i class="icon_heart"></i> in group 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->