
<style>

.new_footer_area {
    clear: both;
    background: #fbfbfd;
}


.new_footer_top {
    background: #fbfbfd;
    padding: 50px 0;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.f_social_icon a img {
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/


</style>
<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Liên Hệ</h3>
                        <ul class="list-unstyled f_list">
                            <a>Mọi thắc mắc vui lòng liên hệ với chúng tôi <a href="http://infohieu.tk/">tại đây</a> hoặc gọi qua hotline: 0397135609 (7-22h) từ t2 đến t7.</a>
                        </ul>
                        
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Chi nhánh</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="https://goo.gl/maps/8pwBg14YEPGGXuY48">217 Nguyễn Văn Linh-Đà Nẵng</a></li>
                            <li><a href="https://goo.gl/maps/gdojmrNdgc1MEj1i9">An Thượng 12</a></li>
                            <li><a href="https://goo.gl/maps/TsdaJh3oANTtZfCt5">Tam Kỳ-Quảng Nam</a></li>
                            <li><a href="https://goo.gl/maps/6WkMVCTn37MEZm2j8">Hội An-Quảng Nam</a></li>
                            <li><a href="https://goo.gl/maps/JRcttiTT4QB6ATfW7">Bến Xe Trung Tâm</a></li>
                            <li><a href="https://goo.gl/maps/E7siMM4WZyo5oCJP9">Hầm hải Vân</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Về TDE</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="/home">TDE là công ty cho thuê xe máy uy tín số 1 việt nam</a></li>
                            <li><a href="/chinhsach">Chính sách & Thủ tục thuê xe</a></li>
                            <li><a href="/baomat">Chính sách bảo mật thông tin cá nhân</a></li>
                            <li><a href="/question">FAQs</a></li>
                            <li><a href="http://infohieu.tk/">Liên hệ, hợp tác</a></li>
                            <li a class="widget-text"><a>Chủ đề nội dung website</a></li>
                            <li><a href="/product">Thuê xe máy</a>
                                |
                                <a href="/homestay">Homestay</a>
                                |
                                <a href="/resort">Resort nghỉ dưỡng</a>
                                |
                                <a href="/phuot">Phượt</a>
                                |
                                <a href="/dulich">Du lịch</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Thành viên hợp tác</h3>
                        <div class="f_social_icon">
                            <a href="https://www.facebook.com/hieu.phanvan.9699">
                                <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-6/256353696_646451176730643_9192431023491584770_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=3kjG_Ojt094AX-OG6jd&tn=PHCJ-5oE09x7exMm&_nc_ht=scontent.fdad3-1.fna&oh=00_AT9DoaF6t3dsZerXTdSOBfRw7qctGxEXJZnDcUA5NcoIEA&oe=626A9001" alt="">
                            </a>
                            <a href="https://www.facebook.com/hongty0809" >
                                <img src="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/278870639_3194018824208285_3536455038902631966_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=6Qn36EkqOvsAX9WqRWu&_nc_ht=scontent.fdad3-4.fna&oh=00_AT_Az2wSoLrTxv9AF8gCKJKi5oWDLUcFXIxI4IdXQPZi3Q&oe=626BFC3F" alt="">
                            </a>
                            <a href="https://www.facebook.com/nguyenquoc.hoan.1848" >
                                <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-6/275142958_518735843193198_1792020393371868984_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=hzUxmAM7utYAX_t3FNY&_nc_ht=scontent.fdad3-1.fna&oh=00_AT_tIE72k5rpzi-tSwk6kOPcucv5zE_M_vQZDwcsWcTNKw&oe=626B7B0D" alt="">
                            </a>
                            
                            <a href="https://www.facebook.com/toofsmile23okok" >
                                <img src="https://scontent.fdad3-5.fna.fbcdn.net/v/t39.30808-1/240520617_1159320347896368_479707058806404741_n.jpg?stp=dst-jpg_p320x320&_nc_cat=106&ccb=1-5&_nc_sid=7206a8&_nc_ohc=XmHXYR9g650AX-8hfCc&_nc_ht=scontent.fdad3-5.fna&oh=00_AT-BfWjLPlCMB1N5vxNr6bX6XE63gldVzsI9UbyEmwgLSg&oe=626AF4FA" alt="">
                            </a>
                            <a href="https://www.facebook.com/thuhongpinkco" >
                                <img src="https://scontent.fdad3-5.fna.fbcdn.net/v/t31.18172-8/22555462_359504381162177_9140658175703896781_o.jpg?_nc_cat=102&ccb=1-5&_nc_sid=0debeb&_nc_ohc=H3h37Hr0IngAX-QvIUu&_nc_ht=scontent.fdad3-5.fna&oh=00_AT8OR7eZ5koekyTrjqPc3ezP5rldi8CozdwB7Jswg4ZxRQ&oe=628D3064" alt="">
                            </a>
                            <a href="https://www.facebook.com/zinumagic.158" >
                                <img src="https://scontent.fdad3-4.fna.fbcdn.net/v/t1.6435-9/72280074_686843528481162_6597207957228748800_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=6BIS_exZdQYAX-PlZse&tn=PHCJ-5oE09x7exMm&_nc_ht=scontent.fdad3-4.fna&oh=00_AT-2R5CIY3hIls2Ano4z8BOhfZFk7K_QI9eCtbwEp8BMNQ&oe=628E9154" alt="">
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-7">
                            <p class="mb-0 f_400">© Bản quyền thuộc về TDE</p>
                        </div>
                        <div class="col-lg-6 col-sm-5 text-right">
                            <p>Made with <i class="icon_heart"></i> in group 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>