<script>

</script>
<link rel="stylesheet" href="css/nav.css" />

<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" style="position: fixed; top: 0; right: 0; left: 0; z-index: 100; ">
  <a class="navbar-brand" href="/"
    ><img
      src="../images/logo.png"
      style="border-radius: 15px; width: 80px; height: 70px"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          
          Trang Chủ
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product">
          Danh sách xe
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Chính sách 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/chinhsach">Chính sách & Thủ tục thuê xe</a>
          <a class="dropdown-item" href="/baomat">Chính sách bảo mật thông tin cá nhân</a>

        </div>
      </li>
      <li  i class="nav-item">
        <a class="nav-link" href="/about">
          
          Giới thiệu
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">
          
          Liên hệ
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blog du lịch
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/homestay">Homestay</a>
          <a class="dropdown-item" href="/resort">Resort nghỉ dưỡng</a>
          <a class="dropdown-item" href="/phuot">Phượt</a>
          <a class="dropdown-item" href="/dulich">Du lịch</a>

        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if(user === null){ %>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-admin-o"> </i>

          Tài khoản
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/login">Đăng nhập</a>
          <a class="dropdown-item" href="/register">Đăng ký</a>
        </div>
      </li>
      <% }else{ %>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-usera-o"> </i>
          <%= user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/client">
            <i class="fa fa-id-carda-o" aria-hidden="true"></i>
            Trang cá nhân
          </a>
          <a class="dropdown-item" href="/shopping-cart">
            <i class="fa fa-carta-plus"> </i>
            Giỏ hàng</a
          >
          <a class="dropdown-item" href="/checkout">
            <i class="fa fa-historya"> </i>
            Lịch sử đặt xe</a
          >
          <a class="dropdown-item" href="/logout">
            <i class="fa fa-sign-out"> </i>
            Đăng xuất</a
          >
        </div>
      </li>
      <% } %>

      
        
    </ul>

    <form class="form-inline my-2 my-lg-0" action="/Search" method="POST">
      <input
        class="form-control mr-sm-2"
        name="name"
        type="text"
        placeholder="Tìm kiếm"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Tìm Kiếm
      </button>
    </form>
  </div>
</nav>
